.newUser {
    flex: 4;
    background-color: rgba(246, 251, 253, 1);;
}
.newUserForm{
    display: flex;
    flex-wrap: wrap;
}
.newUserItem{
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
}
.newUserItem>label{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: gray;
}
.newUserItem>input{
    height: 20px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}
.newUserSelect{
    height: 30px;
    border-radius: 5px;
}
.newUserButton{
    width: 200px;
    border: none;
    border-radius: 10px;
    background-color: indigo;
    color: white;
    cursor: pointer;
    font-weight: 600;
    padding: 7px 10px;
    margin-top: 30px;
}