.featuresList {
    flex: 4;
    background-color: rgba(246, 251, 253, 1);
}

.featuresListEdit {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: green;
    cursor: pointer;
    color: white;
    margin-right: 20px;
}

.featuresListDel {
    color: tomato;
    cursor: pointer;
}